name: Release on Tag

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write  # Permette la creazione della release

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Release from tag
        uses: googleapis/release-please-action@v4
        with:
          command: github-release
          release-type: simple
          tag: ${{ github.ref_name }}
          changelog-path: CHANGELOG.md
